.Login-Container{
    display: flex;
    background-color:  #121212;
    height: 100%;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        // background-color: green;
        h1{
            color: rgb(236, 229, 229);
            margin-top: 0;
        }
        h3{
            color: red;
            margin: 0;
        }
        .buttons{
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                cursor: pointer;
                width: 100%;
                --primary-color: #645bff;
                --secondary-color: #fff;
                --hover-color: #111;
                --arrow-width: 10px;
                --arrow-stroke: 2px;
                box-sizing: border-box;
                border: 0;
                border-radius: 20px;
                color: var(--secondary-color);
                padding: 1em 1.8em;
                background: var(--primary-color);
                display: flex;
                transition: 0.2s background;
                align-items: center;
                gap: 0.6em;
                font-weight: bold;
              }
              
              button .arrow-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              
              button .arrow {
                margin-top: 1px;
                width: var(--arrow-width);
                background: var(--primary-color);
                height: var(--arrow-stroke);
                position: relative;
                transition: 0.2s;
              }
              
              button .arrow::before {
                content: "";
                box-sizing: border-box;
                position: absolute;
                border: solid var(--secondary-color);
                border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
                display: inline-block;
                top: -3px;
                right: 3px;
                transition: 0.2s;
                padding: 3px;
                transform: rotate(-45deg);
              }
              
              button:hover {
                background-color: var(--hover-color);
              }
              
              button:hover .arrow {
                background: var(--secondary-color);
              }
              
              button:hover .arrow:before {
                right: 0;
              }
            a{
                text-decoration: none;
                color: white;
            }
        }

        .inputbox {
            position: relative;
            width: 196px;
            margin-bottom: 1rem;
          }
          
          .inputbox input {
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            background: transparent;
            outline: none;
            box-shadow: none;
            border: none;
            color: #23242a;
            font-size: 1em;
            letter-spacing: 0.05em;
            transition: 0.5s;
            z-index: 10;
          }
          
          .inputbox span {
            position: absolute;
            left: 0;
            padding: 20px 10px 10px;
            font-size: 1em;
            color: #8f8f8f;
            // color: rgb(236, 229, 229);
            letter-spacing: 00.05em;
            transition: 0.5s;
            pointer-events: none;
          }
          
          .inputbox input:valid ~span,
          .inputbox input:focus ~span {
            color: white;
            transform: translateX(-10px) translateY(-34px);
            font-size: 0,75em;
          }
          
          .inputbox i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #534dcb;
            border-radius: 4px;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
          }
          
          .inputbox input:valid ~i,
          .inputbox input:focus ~i {
            height: 44px;
          }

    }
}
