@import './Styles/Login.css';
@import './Styles/Register.css';
@import './Styles/Home.css';
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
#root{
  height: 100%;
  overflow-x: hidden;
}
.App{
  overflow-x: hidden;
  height: 100%;
}